@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:  Noto Sans, 'sans-serif';
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

html {
    font-size: .83vw;
}

.mobileHeader {
    display: none;
}

.navMenu {
    display: none;
}

.primary{
    background: #FFF;
    box-shadow: 0 0 1.67rem 0 rgba(0, 0, 0, .15);
    height: 6.25em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 100;
    position: fixed;
    top: 0;
    width: 100%;
}

.logo {
    width: 17.5rem;
    height: 3.22694rem;
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    margin-left: 1.9rem;
}




.logoImg {
    height: 3.22694rem;
    width: 6rem;
}

.logoContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.logoText {
    width: 13.92813rem;
    height: 1.44569rem;
}

.logoDescription {
    margin-top: .36rem;
    width: 13.92775rem;
    height: 0.48781rem;
    display: flex;
    justify-content: start;
    margin-left: -.3rem;
    align-items: start;
}

.primaryFirstBlock {
    display: flex;
    align-items: center;
}

.primaryMenu {
    width: 41.8125rem;
    height: 1.5625rem;
    display: flex;
    justify-content: space-between;
    font-size: 1rem;
    margin-left: 3.75rem;
}

.primaryRef {
    color: #202B33;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-decoration: none;
    transition: .2s;
}

.primaryRef:hover {
    color: #0468FF;
}

.primaryRef:visited {
    color: #202B33;
}

.primaryRef:visited:hover {
    color: #0468FF;
}

.primarySecondBlock {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 1.8rem;
}

.primaryNumber {
    color: #202B33;
    font-size: 2rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-right: 2.5rem;
}

.secondary{
    background: #202B33;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 3.5rem;

}

.secondaryBlock {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}



.secondaryItem {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 20rem;
}

.secondaryText {
    color: #FFF;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-left: 1rem;
}

.button {
    display: inline-flex;
    padding: 1.125rem 2rem;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
    border-radius: 0.3125rem;
    background: #0468FF;
    border: none;
    color: #FFF;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    cursor: pointer;
    transition: .2s;
}

.button:hover {
    background: #0687FF;
}

.button:active {
    background: #09A7FF;
}

.modal {
    position: fixed;
    bottom: 0;
    height: 100vh;
    width: 100vw;
    background: rgba(0, 0, 0, .3);
    z-index: 100;
    display: none;
    align-items: center;
    justify-content: center;
    transition: .2s;
}

.modalBody {
    border-radius: 0.625rem;
    background: #FCFCFC;
    box-shadow: 0 0 2rem 0 rgba(0, 0, 0, 0.50);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modalTitle {
    color: #202B33;
    text-align: center;
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.05rem;
    padding-top: 2rem;
    padding-left: 4rem;
    padding-right: 4rem;
}

.modalInput {
    width: 25rem;
    border-radius: 0.4375rem;
    border: 1px solid #9A999A;
    outline: none;
    background: #FDFCFD;
    color: #6A6C6C;
    font-family: Noto Sans;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.0225rem;
    padding: .7rem 1rem;
    margin-top: 1rem;
    transition: .2s;
}

.modalInput:focus {
    border: 1px solid #0468FF;

}

.modalButton {
    width: 25rem;
    border-radius: 0.4375rem;
    background: #0468FF;
    color: #FFF;
    font-family: Noto Sans;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.0225rem;
    transition: .2s;
    cursor: pointer;
    border: none;
    padding: .7rem 1rem;
    margin-top: 1rem;
}

.modalButton:hover {
    background: #0687FF;
}

.modalButton:active {
    background: #09A7FF;
}

.modalBottom {
    display: flex;
    align-items: center;
    height: 3rem;
    justify-content: space-between;
    width: 24.4rem;
    margin-bottom: 2rem;
}

.modalCheckBox {
    height: 1rem;
    width: 1rem;
}

.modalText {
    color: #202B33;
    font-family: Noto Sans;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.02rem;
}


.mainScreen {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #FDFCFD;
    padding-left: 22rem;
    height: 40rem;
    position: relative;
    z-index: 0;
    margin-top: 6rem;

}

.mainScreenInfo {
    margin-left: 1rem;

}

.bigArrows {
    position: absolute;
    display: flex;
    top: 0;
    left: 0;
}

.bigArrow {
    width: 9.22769rem;
    height: 9.9375rem;
    flex-shrink: 0;
    z-index: -1;

}

.smallArrows {
    width: 4.5625rem;
    height: 0.875rem;
    margin-bottom: 1.25em;
}

.mainScreenTitle {
    color: #202B33;
    font-size: 3.375rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    width: 30.1875rem;
}

.mainScreenDescription {
    margin-top: 2.2rem;
    margin-bottom: 3.75rem;
    color: #4C555B;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 31.9375rem;
}

.truckImg{
    height: 100%;
}

.truckImgMobile {
    display: none;
}

.whiteBtn {
    background: transparent;
    border-radius: 0.3125rem;
    border: .15rem solid #0468FF;
    height: 4rem;
    display: inline-flex;
    padding: 1.125rem 2rem;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
    color: #0468FF;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-left: 1rem;
}

.numbers {
    height: 22.75rem;
    background: #F2F5FA;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    overflow: hidden;

}

.numbersBackground {
    position: absolute;
    display: flex;
    justify-content: space-around;
    width: 120%;
    overflow: hidden;
}

.numbersBackgroundElement {
    width: 2.83331rem;
    height: 38.02181rem;
    transform: rotate(28.831deg);
    flex-shrink: 0;
    background: #ECF1F8;
    z-index: 1;
}

.numbersContainer {
    width: 77%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 2;
}

.number {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.numberTitle {
    color: #202B33;
    font-size: 5.625rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.numberDescription {
    color: #4C555B;
    text-align: center;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 15.4375rem;
}

.statistics {
    width: 120rem;
    height: 49.9375rem;
    background: #FAFBFD;
    display: flex;
    flex-direction: column;
    align-items: center;
}



.statisticsTitle {
    color: #202B33;
    font-size: 3.375rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 5rem;
    margin-bottom: 3.75rem;
}

.statisticContainer {
    display: flex;
    width: 73%;
    justify-content: space-around;
    align-items: center;
}

.statistic {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.statisticWeight {
    color: #4C555B;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.statisticGraphic {
    width: 16rem;
    height: 19.07688rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.statisticSvg {
    margin-top: 1rem;
    width: 15.5rem;
    height: 18rem;
}

.statisticWe {
    color: #202B33;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.statisticTk {
    color: #202B33;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 3rem;
}

.statisticBenefit {
    margin-top: 2rem;
    color: #202B33;
    font-size: 2rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.cargo {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #FAFBFD;
}

.cargoContainer {
    width: 80%;
    text-align: center;
}

.cargoTitle {
    color: #202B33;

    font-size: 3.75rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 3.8rem;
    margin-top: 5rem;
}

.cargoBlockRow {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}

.cargoBlock {
    width: 28rem;
    height: 6.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 6.25rem;
}

.cargoAvatar {
    width: 6.25rem;
    height: 6.25rem;
    flex-shrink: 0;
    background: #E9EFF8;
    border-radius: 1.25rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cargoAvatarImg {
    height: 4.5rem;
}

.cargoBlockInfo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: -.3rem;
    margin-left: 1rem;
}

.cargoBlockInfoTitle {
    color: #202B33;
    font-size: 2rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    width: 19.5625rem;
    text-align: left;
    margin-left: 1rem;
}

.cargoBlockInfoDescription {
    color: #4C555B;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 19.5625rem;
    text-align: left;
    margin-left: 1rem;


}

.partners {
    width: 120rem;
    height: 26.5rem;
    flex-shrink: 0;
    background: #FAFBFD;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;

}

.partnersTitle {
    color: #202B33;
    font-size: 3.375rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 5rem;
    margin-bottom: 3.9rem;
}

.partnersLine {
    display: flex;
    flex-direction: row;
    width: auto;
    justify-content: space-around;
    gap: 3rem;
    height: 10rem;
    margin-left: 143rem;
    /*margin-left: -118rem;*/
    /*animation-name: runLine;*/
    /*animation-iteration-count: infinite;*/
    /*animation-duration: 2s;*/
    animation: runLine 30s linear infinite;
    /*transform: translateX(-50.8%);*/
    /*transform: translateX(0);*/

}

@keyframes runLine {
    0% {
        margin-left: 143rem;
    }
    100% {
        /*transform: translateX(-112.1rem);*/
        /*transform: translateX(-50.8%);*/
        margin-left: -118rem;

    }
}

.partner {
    width: 15.625rem;
    height: 7.96569rem;
    flex-shrink: 0;
    border-radius: 0.3125rem;
    background: #FFF;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.15);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
}


.uvexImg {
    height: 40%;
}

.recommendations {
    width: 120rem;
    height: 55.1875rem;
    flex-shrink: 0;
    background: #FAFBFD;
}

.recommendationsTitleContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

}

.recommendationsTitle {
    color: #202B33;
    font-size: 3.375rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 5rem;
    margin-bottom: 3.75rem;
}

.recommendationsPapersContainer {
    width: 100%;
    display: flex;
    justify-content: center;
}

.recommendationsPaper {
    width: 23.5rem;
    height: 32.5rem;
    border-radius: 0.3125rem;
    margin: 0 .65rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.recommendationImg {
    width: 110%;
    border-radius: 0.3125rem;

}

.recommendationsNames {
    margin-left: 24rem;
    display: flex;
    justify-content: space-around;
    width: 60%;
}

.recommendationsName {
    color: #2D2D2D;
    text-align: center;
    font-size: 2rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.04rem;
}

.discount {
    background: #F2F5FA;
    height: 29rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    position: relative;
}

.discountBackground {
    position: absolute;
    display: flex;
    justify-content: space-around;
    width: 120%;
    overflow: hidden;
    top: -3rem;
}

.discountBackgroundElement {
    width: 2.83331rem;
    height: 38.02181rem;
    transform: rotate(28.831deg);
    flex-shrink: 0;
    background: #ECF1F8;
    z-index: 1;
}

.largeGift {
    position: absolute;
    bottom: 0;
    left: 23rem;
    z-index: 1;
    width: 11.1875rem;
    height: 10.25rem;
}

.mediumGift {
    position: absolute;
    bottom: 0;
    left: 35.5rem;
    width: 6.5625rem;
    height: 5.375rem;
    z-index: 1;
}

.smallGift {
    position: absolute;
    bottom: 0;
    left: 16.1rem;
    z-index: 1;
    width: 5.4375rem;
    height: 4.375rem;
    flex-shrink: 0;
}

.discountTitle {
    color: #202B33;
    text-align: center;
    font-size: 3.375rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    width: 53.3125rem;
    margin-top: 5rem;
    margin-bottom: 3.3rem;
    z-index: 2;
}

.discountButton {
    display: inline-flex;
    padding: 1.125rem 2rem;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
    border-radius: 0.3125rem;
    background: #0468FF;
    border: none;
    color: #FFF;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 3.3rem;
    z-index: 2;
    transition: .2s;
    cursor: pointer;

}



.discountButton:hover {
    background: #0687FF;
}

.discountButton:active {
    background: #09A7FF;
}

.discountNote {
    color: #4C555B;
    text-align: center;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    z-index: 2;

}

.questions {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 45.25rem;
    background: #FAFBFD;
}

.questionsTitle {
    margin-top: 5rem;
    color: #202B33;
    font-size: 3.375rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.questionsBody {
    margin-top: 5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 5rem;
}

.questionFirstBlock {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 19rem;
    padding-right: 8rem;
    border-right: .01rem solid #B2B1B3;
}

.questionFirstBlockTitle {
    color: #202B33;
    font-size: 2rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.questionFirstBlockNumber {
    color: #202B33;
    text-align: center;
    font-size: 3rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.questionFirstBlockNote {
    color: #4C555B;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.questionSecondBlock {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 19rem;
    padding-left: 8rem;
}

.questionSecondBlockTitle {
    color: #202B33;
    font-size: 2rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 2rem;
}

.questionSecondBlockInput {
    width: 30.4375rem;
    height: 5.75rem;
    border-radius: 0.4375rem;
    border: 0.1rem solid #9A999A;
    background: #F4F3F4;
    margin-bottom: 1.5rem;
    padding: 0.8rem 1.5rem;
    color: #202B33;
    font-size: 3rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    outline: none;
    transition: .2s;
}

.questionSecondBlockInput:focus {
    border: 0.1rem solid #0468FF;
}

.questionSecondBlockButton {
    display: flex;
    border: none;
    width: 30.4375rem;
    height: 5.6875rem;
    padding: 1.125rem 2rem;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
    flex-shrink: 0;
    border-radius: 0.3125rem;
    background: #0468FF;
    color: #FFF;
    font-size: 2rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 1.5rem;
    transition: .2s;
    cursor: pointer;
}

.questionSecondBlockButton:hover {
    background: #0687FF;
}

.questionSecondBlockButton:active {
    background: #09A7FF;
}


.questionSecondBlockNote {
    color: #4C555B;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.office {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 54.625rem;
    background: #FAFBFD;
}

.officeTitle {
    color: #202B33;
    font-size: 3.375rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 5rem;
    margin-bottom: 3.75rem;
}

.contactSvg {
    height: 3rem;
}

.addressSvg {
    height: 1.7rem;
}

.officeAddress {
    color: #202B33;
    font-size: 2rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 2.2rem;
    margin-left: -39rem;


}

.officeMap {
    width: 73.125rem;
    height: 31.3125rem;
}

.footer {
    height: 29rem;
    background: #232834;
    color: #FBFDFE;
    padding-top: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footerBody {
    width: 73%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.footerColumn {
    height: 15.625rem;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-around;
}

.footerLogo {
    width: 17.5rem;
    height: 3.22694rem;
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
}

.footerPoint {
    color: #FBFDFE;
    font-family: Noto Sans;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.footerNote {
    margin-top: 5rem;
    color: #C5C8CB;
    text-align: center;
    font-family: Noto Sans;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

@media (max-device-width: 480px), (max-width: 480px) {
    /*html {*/
    /*    font-size: 3vw;*/

    /*}*/

    body {
        overflow-x: hidden;
    }

    .mobileHeader {
        display: flex;
        height: 15.625rem;
        align-items: center;
        padding-left: 4rem;
        justify-content: space-between;
        position: fixed;
        top: 0;
        z-index: 3;
        background: #FFFFFF;
        width: 122rem;
        box-shadow: 0 0 2rem 0 rgba(0, 0, 0, 0.15);

    }

    .mobileHeaderLogo {
        display: flex;
        flex-direction: row;
        justify-content: start;
        width: 50rem;
    }

    .mobileHeaderLogoIcon {
        height: 8rem;
        width: 8rem;

    }

    .mobileHeaderLogoLabels {
        display: flex;
        flex-direction: column;
    }

    .mobileHeaderLogoName {
        height: 5rem;
        width: 30rem;

    }

    .mobileHeaderLogoLabel {
        height: 3rem;
        width: 30rem;
    }

    .mobileHeaderButton {
        display: inline-flex;
        padding: 3.125rem 5rem;
        justify-content: center;
        align-items: center;
        border-radius: 1rem;
        background: #0468FF;
        color: #FFF;
        font-family: Noto Sans;
        font-size: 2.81rem;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        border: none;
    }



    .mobileHeaderBurgerIcon {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 16rem;
        height: 16rem;
        padding-left: 3rem;
        cursor: pointer;
        z-index: 25;
        margin-right: 2rem;
    }

    .navMenu {
        position: absolute;
        top: 0;
        z-index: 10;
        width: 110vw;
        height: 100vh;
        transition: .2s;
        background: #FFFFFF;
        transform: translateX(110vw);
        padding-top: 5rem;
    }



    .navMenuItem {
        color: #202B33;
        font-family: Noto Sans;
        font-size: 5rem;
        padding-left: 5rem;
        padding-top: 3.5rem;
        padding-bottom: 3.5rem;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        cursor: pointer;
        transition: .2s;
    }

    .navMenuItem:hover {
        background: #EFEFEF;
    }

    .navMenuItem:active {
        background: #EFEFEF;
    }




    .navMenuItem:first-child {
        margin-top: 10rem;
    }

    .navMenuLabel {
        color: #202B33;
        text-decoration: none;
    }

    .navMenuLabel:visited {
        color: #202B33;
        text-decoration: none;
    }


    .secondary {
        display: none;
    }

    .primary {
        display: none;
    }


    .modal {
        position: fixed;
        bottom: 0;
        height: 100vh;
        width: 100vw;
        background: rgba(0, 0, 0, .3);
        z-index: 100;
        display: none;
        align-items: center;
        justify-content: center;
        transition: .2s;
    }

    .modalBody {
        border-radius: 2rem;
        background: #FCFCFC;
        box-shadow: 0 0 2rem 0 rgba(0, 0, 0, 0.50);
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 5rem 10rem;
    }

    .modalTitle {
        color: #202B33;
        text-align: center;
        font-size: 7rem;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: 0.05rem;

    }

    .modalInput {
        width: 70rem;
        border-radius: 1rem;
        border: 1px solid #9A999A;
        outline: none;
        background: #FDFCFD;
        color: #6A6C6C;
        font-family: Noto Sans;
        font-size: 4.5rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 0.0225rem;
        padding: 1.4rem 2rem;
        margin-top: 3rem;
        transition: .2s;
    }

    .modalInput:focus {
        border: 1px solid #0468FF;

    }

    .modalButton {
        width: 70rem;
        border-radius: 1rem;
        background: #0468FF;
        color: #FFF;
        font-family: Noto Sans;
        font-size: 4.5rem;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        letter-spacing: 0.0225rem;
        transition: .2s;
        cursor: pointer;
        border: none;
        padding: 1.4rem 2rem;
        margin-top: 3rem;
    }

    .modalButton:hover {
        background: #0687FF;
    }

    .modalButton:active {
        background: #09A7FF;
    }

    .modalBottom {
        display: flex;
        align-items: center;
        height: auto;
        justify-content: start;
        gap: 2rem;
        width: 75rem;
        margin-bottom: 2rem;
        margin-top: 3rem;
        margin-left: 5rem;

    }

    .modalCheckBox {
        height: 4rem;
        width: 4rem;
    }

    .modalText {
        color: #202B33;
        font-family: Noto Sans;
        font-size: 2.59rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 0.02rem;
    }


    .mainScreen {
        margin-left: 0;
        padding-left: 0;
        flex-direction: column;
        height: auto;
        width: 100vw;
        position: relative;
        margin-top: 15.625rem;
    }

    .mainScreenInfo {
        width: 100vw;
        padding-left: 2rem;
        padding-right: 2rem;
    }

    .smallArrows {
        margin-top: 1rem;
        width: 11.25rem;
        height: 2.19rem;
        margin-left: 2.5rem;
    }


    .mainScreenTitle {
        width: 110rem;
        font-size: 7.5rem;
        margin-bottom: 3.27rem;
        margin-left: 2.5rem;
        margin-right: 2.5rem;
    }

    .mainScreenDescription {
        width: 110rem;
        margin-left: 2.5rem;
        margin-right: 2.5rem;
        font-size: 2.81rem;
    }

    .buttonsContainer {
        display: flex;
        flex-direction: column;
        margin: 71.8rem 2.5rem 7rem;

    }

    .button {
        font-size: 2.81rem;
        height: 9.5rem;
        border-radius: .775rem;
    }

    .whiteBtn {
        margin-left: 0;
        margin-top: 1.5rem;
        font-size: 2.81rem;
        height: 9.5rem;
        border-radius: .775rem;

    }

    .truckImg {
        display: none;
    }

    .truckImgMobile {
        display: block;
        position: absolute;
        width: 120rem;
        top: 50rem;
    }

    .numbersBackgroundElement {
        width: 7.25rem;
        height: 60rem;
        transform: rotate(28.831deg);
        flex-shrink: 0;
        background: #ECF1F8;
        z-index: 1;
    }

    .numbersBackgroundElement:nth-child(-n+15) {
        display: none;
    }

    .numbers {
        height: 37.5rem;
    }

    .numbersContainer {
        width: 115rem;
        justify-content: space-between;

    }

    .numberTitle {
        font-size: 11rem;
    }

    .numberDescription {
        font-size: 2.81rem;
        width: 30rem;
    }

    .statistics {
        height: auto;
        padding-bottom: 7rem;
    }

    .statisticsTitle {
        font-size: 5.3rem;
        margin-top: 7rem;
        margin-bottom: 7rem;
    }

    .statisticWeight {
        font-size: 2.81rem;
    }

    .statisticContainer {
        width: 112rem;
        justify-content: space-between;
    }

    .statisticGraphic {
        width: 27.8rem;
        height: 31.45rem;
    }

    .statisticSvg {
        width: 27.8rem;
        height: 31.45rem;
    }

    .statisticWe {
        font-size: 2.81rem;
    }

    .statisticTk {
        font-size: 2.81rem;
        margin-left: 4.5rem;
    }

    .cargoTitle {
        font-size: 5.3rem;
        margin-top: 4rem;
        margin-bottom: 7rem;
    }

    .cargoBlock {
        flex-direction: column;
        align-items: center;
        width: auto;
        height: auto;
    }

    .cargoAvatar {
        width: 15rem;
        height: 15rem;
        border-radius: 3rem;
    }

    .cargoAvatarImg {
        height: 10rem;
    }



    .cargoBlockInfoTitle {
        text-align: center;
        width: auto;
        font-size: 4rem;
        margin-top: 1.5rem;
        margin-bottom: 1rem;
    }

    .cargoBlockInfoDescription {
        margin: 0;
        text-align: center;
        font-size: 2.81rem;
        width: 50rem;

    }

    .cargoBlockRow {
        margin-bottom: 7rem;
        gap: 8rem;
    }

    .partners {
        height: auto;
    }

    .partnersTitle {
        font-size: 5.3rem;
    }

    .partnersLine {
        height: 23rem;
        margin-left: 342rem;
        overflow-y: hidden;
        animation: runLineMobile 20s linear infinite;


    }

    @keyframes runLineMobile {
        0% {
            margin-left: 342rem;
        }
        100% {

            margin-left: -120rem;

        }
    }

    .partner {
        width: 30rem;
        height: 15rem;
        border-radius: 0.3125rem;
        padding: 2rem;
    }

    .recommendations {
        height: auto;
    }

    .recommendationsTitle {
        font-size: 5.3rem;
        margin-top: 4rem;
        margin-bottom: 7rem;
    }

    .recommendationsPapersContainer {
        justify-content: center;
        gap: 0;
    }

    .recommendationsPaper {
        width: 38.525rem;
        height: auto;
        border-radius: 0.3125rem;
        margin: 0;
    }

    .recommendationImg {
        width: 40.525rem;
        height: auto;
        border-radius: 0.3125rem;
        margin: 0;
    }

    .recommendationsNames {
        width: 112rem;
        margin-left: 4rem;
    }

    .recommendationsName {
        font-size: 2.81rem;
        padding-bottom: 5rem;
    }

    .discount {
        height: auto;

    }

    .discountTitle {
        font-size: 4.5rem;
        width: 70rem;
        margin-bottom: 3.3rem;
    }

    .discountButton {
        padding: 2rem 3.75rem;
        font-size: 2rem;
        border-radius: .45rem;
        margin-bottom: 4.2rem;
    }

    .discountNote {
        font-size: 1.5rem;
        margin-bottom: 4.2rem;
    }

    .smallGift {
        left: 0;
    }

    .largeGift {
        left: 7rem;
    }

    .mediumGift {
        left: 19rem;
    }

    .discountBackgroundElement {
        margin-top: -10rem;
        width: 7.25rem;
        height: 60rem;
        transform: rotate(28.831deg);
        flex-shrink: 0;
        background: #ECF1F8;
        z-index: 1;
    }

    .discountBackgroundElement:nth-child(-n+15) {
        display: none;
    }

    .questions {
        height: auto;
    }

    .questionsTitle {
        font-size: 5.3rem;
    }

    .questionFirstBlock {
        height: 40rem;
        padding-right: 4.5rem;
        justify-content: start;
    }

    .questionFirstBlockTitle {
        font-size: 3.9rem;
        margin-bottom: 5rem;
        margin-top: 2rem;
    }

    .questionFirstBlockNumber {
        font-size: 5.3rem;
        margin-bottom: 5rem;

    }

    .questionFirstBlockNote {
        font-size: 2.81rem;
    }

    .questionSecondBlockTitle {
        font-size: 3.9rem;
    }

    .questionSecondBlock {
        padding-left: 4.5rem;
    }

    .questionSecondBlockInput {
        width: 44rem;
        padding: 5rem 3rem;
        font-size: 5rem;
        border-radius: .45rem;
        margin-bottom: 3rem;
    }

    .questionSecondBlockNote {
        font-size: 2.81rem;

    }


    .questionSecondBlockButton {
        width: 44rem;
        padding: 5rem 3rem;
        font-size: 3rem;
        border-radius: .45rem;
        margin-bottom: 3rem;

    }

    .questionsNote {
        font-size: 2.81rem;
        width: 80rem;
        text-align: center;
        margin-bottom: 7rem;
    }

    .office {
        height: auto;
    }

    .officeTitle {
        font-size: 5.3rem;
        margin-bottom: 7rem;
    }

    .officeAddress {
        text-align: start;
        width: 110rem;
        font-size: 2.81rem;
    }

    .officeMap {
        width: 110rem;
        height: 50rem;
        margin-bottom: 7rem;
    }

    .footer {
        height: 50rem;
        margin-bottom: 0;
    }

    .footerLogo {
        width: 40rem;
        height: 10rem;
    }

    .logoImg {
        width: auto;
        height: 7rem;
        margin-right: .5rem;
    }

    .logoText {
        width: 33rem;
        height: auto;
    }

    .logoDescription {
        margin-top: 1rem;
        width: 33rem;
        height: 1.9rem;

    }

    .footerBody {
        width: 110rem;
        height: 50rem;
        align-items: start;
        margin-top: 2rem;
    }

    .footerPoint {
        font-size: 2.8rem;
        font-weight: 400;
        line-height: 5rem;
    }

    .footerColumn {
        max-width: 40rem;
        height: auto;

    }



}
