@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Noto Sans, 'sans-serif';
}

html {
    font-size: .83vw;
}

.primary{
    background: #FFF;
    box-shadow: 0 0 1.67rem 0 rgba(0, 0, 0, .15);
    height: 6.25em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 100;
    position: fixed;
    top: 0;
    width: 100%;
}

.logo {
    width: 17.5rem;
    height: 3.22694rem;
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    margin-left: 1.9rem;
    cursor: pointer;
}




.logoImg {
    height: 3.22694rem;
    width: 6rem;
}

.logoContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.logoText {
    width: 13.92813rem;
    height: 1.44569rem;
}

.logoDescription {
    margin-top: .36rem;
    width: 13.92775rem;
    height: 0.48781rem;
    display: flex;
    justify-content: start;
    margin-left: -.3rem;
    align-items: start;
}

.primaryFirstBlock {
    display: flex;
    align-items: center;
}

.primaryMenu {
    width: 41.8125rem;
    height: 1.5625rem;
    display: flex;
    justify-content: space-between;
    font-size: 1rem;
    margin-left: 3.75rem;
}

.primaryRef {
    color: #202B33;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-decoration: none;
}

.primaryRef:visited {
    color: #202B33;
}

.primarySecondBlock {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 1.8rem;
}

.primaryNumber {
    color: #202B33;
    font-size: 2rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-right: 2.5rem;
}

.secondary {
    background: #202B33;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 3.5rem;

}

.secondaryBlock {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

.secondaryItem {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 15rem;
}

.secondaryText {
    color: #FFF;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.button {
    display: inline-flex;
    padding: 1.125rem 2rem;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
    border-radius: 0.3125rem;
    background: #0468FF;
    border: none;
    color: #FFF;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.button:hover {
    background: #0687FF;
}

.button:active {
    background: #09A7FF;
}


.bigArrows {
    position: absolute;
    display: flex;
    top: 6rem;
    left: 0;
}

.bigArrow {
    width: 9.22769rem;
    height: 9.9375rem;
    flex-shrink: 0;
    z-index: 1;
}

.bigArrowsVertical {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 13rem;
    right: 6.8rem;
    z-index: 2;
}

.bigArrowVertical {
    width: 10rem;
    height: 10rem;
    flex-shrink: 0;
    z-index: -1;
    margin-bottom: 0;
}

.reviews {
    margin-top: 6rem;
    height: 47.125rem;
    background: #FAFBFD;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.smallArrows {
    width: 4.5625rem;
    height: 0.875rem;
    margin-top: 3rem;
    margin-bottom: 1.25em;
}

.reviewsTitleContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 55%;
    margin-bottom: 3.75rem;
}

.reviewsTitle {
    color: #202B33;
    font-size: 3.375rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-left: 26rem;


}

.reviewsHrefContainer {
    display: flex;
    align-items: center;
    gap: .62rem;
}

.reviewsHrefSvg {
    width: 1.5rem;
    height: 1.5rem;
}

.reviewsHref {
    color: #0468FF;

    font-size: 1.125rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-decoration-line: underline;
}

.reviewsBody {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.review {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20.625rem;
    height: 29.75rem;
    flex-shrink: 0;
    border-radius: 0.625rem;
    background: #FEFEFF;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.10);
    margin: 2rem 1rem 2rem 1rem;

}

.leftArrow {
    width: 2rem;
    height: 2rem;
    margin-right: 1.5rem;
    cursor: pointer;
}

.rightArrow {
    width: 2rem;
    height: 2rem;
    margin-left: 1.5rem;
    cursor: pointer;

}

.swiper {
    width: 67rem;
    height: 35rem;
    background: transparent;
    border: none;
    box-shadow: none;
    display: flex;
    align-items: center;
    justify-content: center;
    /*padding: 10rem;*/
}

.slider-1 {
    width: 67rem;
}

.content-card {
    box-shadow: none;
}

.review:last-child {
    margin-right: 0;
}

.reviewImage {
    width: 9.375rem;
    height: 9.375rem;
    border-radius: 50%;
    border: .4rem solid #0468FF;
    margin-bottom: 1.5rem;
    margin-top: 2rem;
}

.reviewName {
    color: #2D2D2D;
    text-align: center;
    font-size: 1.375rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.0275rem;
}

.reviewProfession {
    color: #6A6C6C;
    text-align: center;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5rem; /* 133.333% */
    letter-spacing: 0.0225rem;
    margin-bottom: 1.25rem;
    margin-top: .3rem;
}

.reviewBody {
    width: 18.125rem;
    color: #88898A;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5rem; /* 133.333% */
    letter-spacing: 0.0225rem;
}

.thanks {
    width: 120rem;
    height: 103.8125rem;
    flex-shrink: 0;
    background: #FAFBFD;
    display: flex;
    flex-direction: column;
}

.thanksTitle {
    text-align: center;
    color: #202B33;
    font-size: 3.375rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 2.8rem;
    margin-top: 6rem;
}

.thanksRow {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 3.75rem;
}

.thankContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 1.3rem;

}

.thankContainer:last-child {
    margin-right: 0;
}

.thankImage {
    width: 25rem;
    height: 34rem;
    flex-shrink: 0;
    /*border: 1px solid red;*/
    border-radius: 0.3125rem;
    /*box-shadow: 0 0 1.5rem 0 rgba(0, 0, 0, 0.15);*/
    margin-bottom: 1.25rem;
}

.thankName {
    color: #2D2D2D;
    text-align: center;
    font-size: 2rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.04rem;
}

.thankButtonContainer {
    margin: 0 auto;
}

.thankButton {
    border: none;
    display: inline-flex;
    padding: 1.125rem 2rem;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
    border-radius: 0.3125rem;
    background: #0468FF;
    color: #FFF;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    height: 3.8rem;

}



.footer {
    height: 29rem;
    background: #232834;
    color: #FBFDFE;
    padding-top: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footerBody {
    width: 73%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.footerColumn {
    height: 15.625rem;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-around;
}

.footerLogo {
    width: 17.5rem;
    height: 3.22694rem;
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
}

.footerPoint {
    color: #FBFDFE;
    font-family: Noto Sans;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.footerNote {
    margin-top: 5rem;
    color: #C5C8CB;
    text-align: center;
    font-family: Noto Sans;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

@media (max-device-width: 480px), (max-width: 480px) {

    body {
        overflow-x: hidden;
    }

    .secondary {
        display: none;
    }

    .primary {
        display: none;
    }


    .smallArrows {
        margin-top: 1rem;
        width: 11.25rem;
        height: 3.19rem;
    }

    .bigArrowsVertical {
        right: 0;
        top: 0;
        gap: 0;
        align-items: start;
    }

    .bigArrowVertical {
        height: 10rem;
        margin-bottom: -1rem;
    }

    .reviews {
        height: auto;
        overflow-x: scroll;
        padding-bottom: 5rem;
    }

    .reviewsHrefContainer {
        display: none;
    }

    .reviewsTitle {
        font-size: 5.3rem;
        margin-left: 21rem;
    }

    .reviewsBody {
        margin-left: 22rem;
    }

    .review {
        z-index: 2;
        width: 45rem;
        height: 63.75rem;
    }

    .reviewImage {
        width: 20.5rem;
        height: 20.5rem;
        border-radius: 50%;
        border: .7rem solid #0468FF;
        margin-bottom: 3rem;
        margin-top: 4.5rem;
    }

    .reviewName {
        font-size: 3.5rem;
    }

    .reviewProfession {
        font-size: 2.5rem;
        margin-bottom: 2.5rem;
    }

    .reviewBody {
        font-size: 2.5rem;
        width: 40rem;
        line-height: 3.5rem;
        margin-bottom: 3rem;
        height: auto;
    }

    .thanks {
        height: auto;
    }

    .thanksTitle {
        font-size: 5.3rem;
    }

    .thanksRow {
        justify-content: center;
        margin-left: -5rem;
    }

    .thankContainer {
        margin: 0;
    }

    .thankImage {
        width: 43rem;
        height: 63rem;
        margin-right: -5rem;

    }

    .thankName {
        font-size: 3.5rem;
    }

    .thankButton {
        width: 33rem;
        height: 10rem;
        font-size: 2.81rem;
        border-radius: .775rem;
        margin-top: 2rem;
        margin-bottom: 7rem;
    }

    .footer {
        height: 50rem;
        margin-bottom: 0;
    }

    .footerLogo {
        width: 40rem;
        height: 10rem;
    }

    .logoImg {
        width: auto;
        height: 7rem;
        margin-right: .5rem;
    }

    .logoText {
        width: 33rem;
        height: auto;
    }

    .logoDescription {
        margin-top: 1rem;
        width: 33rem;
        height: 1.9rem;

    }

    .footerBody {
        width: 110rem;
        height: 50rem;
        align-items: start;
        margin-top: 2rem;
    }

    .footerPoint {
        font-size: 2.8rem;
        font-weight: 400;
        line-height: 5rem;
    }

    .footerColumn {
        max-width: 40rem;
        height: auto;

    }


}
