@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Noto Sans, 'sans-serif';
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

html {
    font-size: .83vw;
}

.primary{
    background: #FFF;
    box-shadow: 0 0 1.67rem 0 rgba(0, 0, 0, .15);
    height: 6.25em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 100;
    position: fixed;
    top: 0;
    width: 100%;
}

.logo {
    width: 17.5rem;
    height: 3.22694rem;
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    margin-left: 1.9rem;
    cursor: pointer;

}


.primaryRef:hover {
    color: #0468FF;
}

.primaryRef:visited {
    color: #202B33;
}

.primaryRef:visited:hover {
    color: #0468FF;
}




.logoImg {
    height: 3.22694rem;
    width: 6rem;
}

.logoContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.logoText {
    width: 13.92813rem;
    height: 1.44569rem;
}

.logoDescription {
    margin-top: .36rem;
    width: 13.92775rem;
    height: 0.48781rem;
    display: flex;
    justify-content: start;
    margin-left: -.3rem;
    align-items: start;
}

.primaryFirstBlock {
    display: flex;
    align-items: center;
}

.primaryMenu {
    width: 41.8125rem;
    height: 1.5625rem;
    display: flex;
    justify-content: space-between;
    font-size: 1rem;
    margin-left: 3.75rem;
}

.primaryRef {
    color: #202B33;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-decoration: none;
    transition: .2s;
}

.primaryRef:visited {
    color: #202B33;
}

.primarySecondBlock {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 1.8rem;
}

.primaryNumber {
    color: #202B33;
    font-size: 2rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-right: 2.5rem;
}
.secondary {
    background: #202B33;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 3.5rem;

}

.secondaryBlock {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

.secondaryItem {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 15rem;
}

.secondaryText {
    color: #FFF;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.button {
    display: inline-flex;
    padding: 1.125rem 2rem;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
    border-radius: 0.3125rem;
    background: #0468FF;
    border: none;
    color: #FFF;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.button:hover {
    background: #0687FF;
}

.button:active {
    background: #09A7FF;
}


.aboutUs {
    width: 120rem;
    height: 40.5625rem;
    background: #FAFBFD;
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 0;
    margin-top: 6rem;
}

.smallArrows {
    width: 4.5625rem;
    height: 0.875rem;
    margin-top: 3rem;
    margin-left: 24.25rem;
    margin-bottom: 1.25em;

}

.bigArrows {
    position: absolute;
    display: flex;
    top: 0;
    left: 0;
}

.bigArrow {
    width: 9.22769rem;
    height: 9.9375rem;
    flex-shrink: 0;
    z-index: -1;
}

.bigArrowsVertical {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 7.5rem;
    right: 6.8rem;
}

.bigArrowVertical {
    width: 9.22769rem;
    height: 10.56006rem;
    flex-shrink: 0;
    z-index: -1;
    margin-bottom: 1.5rem;
}

.aboutUsTitle {
    color: #202B33;
    font-size: 3.375rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 3.75rem;
}

.aboutUsContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: start;
    margin-left:5rem;
    /*gap: 10rem;*/
}

.aboutUsBody {
    display: flex;
    flex-direction: column;
    margin-right: -10rem;

}

.aboutUsBlock {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 6rem;
    margin-bottom: 2rem;
}

.aboutUsBlockNumber {
    color: #202B33;
    font-size: 4.375rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.aboutUsBlockDescription {
    color: #4C555B;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 13rem;
    padding-left: 2rem;
}

.aboutUsImage {
    width: 41.3125rem;
    height: 29.3125rem;
    margin-left: 20rem;

}

.truckImg {
    height: 29.3125rem;
}

.philosophy {
    width: 120rem;
    height: 51.5rem;
    flex-shrink: 0;
    background: #FAFBFD;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.philosophyTitle {
    margin-top: 5rem;
    color: #202B33;
    font-size: 3.375rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-left: -41rem;
    margin-bottom: 3.75rem;
}

.philosophyBlockRow {
    width: 60%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.philosophyBlockImage {
    width: 13rem;
    height: 13rem;
    margin-right: 2.3rem;
}

.openSvg {
    width: 12.625rem;
    height: 12.625rem;
}

.responsibilitySvg {
    width: 12.75rem;
    height: 12.75rem;
}

.fairSvg {
    width: 12.625rem;
    height: 12.625rem;
}

.honestySvg {
    width: 12.875rem;
    height: 12.875rem;
    flex-shrink: 0;
}

.philosophyBlock {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 7.5rem;
}

.philosophyBlockTitle {
    color: #202B33;
    text-align: left;
    font-size: 2rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    width: 17rem;
}

.philosophyBlockDescription {
    color: #4C555B;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 15rem;
}

.insurance {
    width: 120rem;
    height: 14.625rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    background: #F2F5FA;

}

.insuranceBackground {
    position: absolute;
    display: flex;
    justify-content: space-around;
    width: 120%;
    overflow: hidden;
}

.insuranceBackgroundElement {
    width: 2.83331rem;
    height: 38.02181rem;
    transform: rotate(28.831deg);
    flex-shrink: 0;
    background: #ECF1F8;
    z-index: 0;
}

.insuranceTitle {
    color: #202B33;
    font-size: 3.375rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    z-index: 2;
}

.partners {
    width: 120rem;
    height: 42.75rem;
    flex-shrink: 0;
    background: #FAFBFD;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.partnersTitle {
    color: #202B33;
    font-size: 2rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-top: 5rem;
    margin-bottom: 4rem;
    margin-left: -16rem;
}

.partnersRow {
    width: 60%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 1.5rem;
}

.partner {
    width: 22.5rem;
    height: 12.5rem;
    flex-shrink: 0;
    border-radius: 0.3125rem;
    background: #FFF;
    box-shadow: 0 0 1.5rem 0 rgba(0, 0, 0, 0.15);
    display: flex;
    align-items: center;
    justify-content: center;
}

.partnersContainer {
    display: none;
}


.footer {
    height: 29rem;
    background: #232834;
    color: #FBFDFE;
    padding-top: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footerBody {
    width: 73%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.footerColumn {
    height: 15.625rem;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-around;
}

.footerLogo {
    width: 17.5rem;
    height: 3.22694rem;
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
}

.footerPoint {
    color: #FBFDFE;
    font-family: Noto Sans;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.footerNote {
    margin-top: 5rem;
    color: #C5C8CB;
    text-align: center;
    font-family: Noto Sans;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.mobileHeader {
    display: none;
}


@media (max-device-width: 480px), (max-width: 480px) {

    body {
        overflow-x: hidden;
    }

    .secondary {
        display: none;
    }

    .primary {
        display: none;
    }


    .mobileHeader {
        display: flex;
        height: 15.625rem;
        align-items: center;
        padding-left: 4rem;
        justify-content: space-between;
        position: fixed;
        top: 0;
        z-index: 3;
        background: #FFFFFF;
        width: 122rem;
        box-shadow: 0 0 2rem 0 rgba(0, 0, 0, 0.15);

    }

    .mobileHeaderLogo {
        display: flex;
        flex-direction: row;
        justify-content: start;
        width: 50rem;
    }

    .mobileHeaderLogoIcon {
        height: 8rem;
        width: 8rem;

    }

    .mobileHeaderLogoLabels {
        display: flex;
        flex-direction: column;
    }

    .mobileHeaderLogoName {
        height: 5rem;
        width: 30rem;

    }

    .mobileHeaderLogoLabel {
        height: 3rem;
        width: 30rem;
    }

    .mobileHeaderButton {
        display: inline-flex;
        padding: 3.125rem 5rem;
        justify-content: center;
        align-items: center;
        border-radius: 1rem;
        background: #0468FF;
        color: #FFF;
        font-family: Noto Sans;
        font-size: 2.81rem;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        border: none;
    }

    .mobileHeaderBurgerIcon {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 13rem;
        height: 13rem;
        padding-left: 3rem;
        cursor: pointer;
        z-index: 25;
        margin-right: 4rem;
    }

    .mobileHeaderBurgerSvg {
        width: 13rem;
        height: 13rem;
    }



    .navMenu {
        position: absolute;
        top: 0;
        z-index: 10;
        width: 110vw;
        height: 100vh;
        transition: .2s;
        background: #FFFFFF;
        transform: translateX(110vw);
        padding-top: 5rem;
    }



    .navMenuItem {
        color: #202B33;
        font-family: Noto Sans;
        font-size: 5rem;
        padding-left: 5rem;
        padding-top: 3.5rem;
        padding-bottom: 3.5rem;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        cursor: pointer;
        transition: .2s;
    }

    .navMenuItem:hover {
        background: #EFEFEF;
    }

    .navMenuItem:active {
        background: #EFEFEF;
    }


    .navMenuItem:first-child {
        margin-top: 10rem;
    }

    .navMenuLabel {
        color: #202B33;
        text-decoration: none;
    }

    .navMenuLabel:visited {
        color: #202B33;
        text-decoration: none;
    }

    .smallArrows {
        margin-top: 1rem;
        width: 11.25rem;
        height: 3.19rem;
        margin-left: 50rem;
    }

    .bigArrowsVertical {
        right: 0;
        top: 0;
        gap: 0;
        align-items: start;
    }

    .bigArrowVertical {
        height: 10rem;
        margin-bottom: -1rem;
    }

    .aboutUs {
        height: auto;
        margin-top: 16rem;

    }

    .aboutUsContainer {
        justify-content: space-between;
    }

    .aboutUsBody {
        width: 60rem;
        height: 40rem;
        margin: 0;
    }

    .aboutUsImage {
        width: 60rem;
        height: 40rem;
        display: flex;
        align-items: center;
        margin: 0;
    }

    .truckImg {
        width: 50rem;
        height: auto;
        border-radius: .775rem;
    }

    .aboutUsTitle {
        font-size: 5rem;
    }

    .aboutUsBlockNumber {
        font-size: 5.3rem;
        font-weight: 500;
    }

    .aboutUsBlockDescription {
        font-size: 2.8rem;
        width: 30rem;
    }

    .aboutUsBlock {
        height: auto;
    }

    .philosophy {
        align-items: start;
        height: auto;
    }

    .philosophyTitle {
        margin-left: 3rem;
        font-size: 5.3rem;
        margin-bottom: 10rem;
    }

    .philosophyBlockRow {
        margin-left: 3rem;
        margin-right: 3rem;
        width: 112rem;
        justify-content: space-around;
    }

    .philosophyBlock {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .philosophyBlockImage {
        width: 34rem;
        height: 34rem;
        margin: 0;
    }

    .openSvg {
        width: 30rem;
        height: 30rem;
    }

    .responsibilitySvg {
        width: 30rem;
        height: 30rem;
    }

    .fairSvg {
        width: 30rem;
        height: 30rem;
    }

    .honestySvg {
        width: 30rem;
        height: 30rem;
    }

    .philosophyBlockBody {
        width: 50rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .philosophyBlockTitle {
        color: #202B33;
        text-align: center;
        font-size: 4.8rem;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        margin: 0;
        width: 49rem;
    }

    .philosophyBlockDescription {
        margin-top: 3rem;
        width: 42rem;
        text-align: center;
        font-size: 3rem;
    }

    .insurance {
        height: auto;
    }

    .insuranceBackgroundElement {
        width: 7.25rem;
        height: 60rem;
        transform: rotate(28.831deg);
        flex-shrink: 0;
        background: #ECF1F8;
        z-index: 1;
    }

    .insuranceBackgroundElement:nth-child(-n+15) {
        display: none;
    }

    .insuranceTitle {
        font-size: 5.3rem;
        padding: 6rem 0;
    }

    .partners {
        height: auto;
    }

    .partnersTitle {
        font-size: 4rem;
        margin-left: 0;
        text-align: center;
        width: 70rem;
        margin-top: 5rem;
    }

    .partnersRow {
        display: none;
    }

    .partnersContainer {
        display: flex;
        flex-direction: row;
        gap: 3.5rem;
    }

    .partnersColumn {
        display: flex;
        flex-direction: column;
        gap: 3.5rem;
        margin-bottom: 7rem;
    }

    .partner {
        width: 50rem;
        height: 25rem;
    }


    .footer {
        height: 50rem;
        margin-bottom: 0;
    }

    .footerLogo {
        width: 40rem;
        height: 10rem;
    }

    .logoImg {
        width: auto;
        height: 7rem;
        margin-right: .5rem;
    }

    .logoText {
        width: 33rem;
        height: auto;
    }

    .logoDescription {
        margin-top: 1rem;
        width: 33rem;
        height: 1.9rem;

    }

    .footerBody {
        width: 110rem;
        height: 50rem;
        align-items: start;
        margin-top: 2rem;
    }

    .footerPoint {
        font-size: 2.8rem;
        font-weight: 400;
        line-height: 5rem;
    }

    .footerColumn {
        max-width: 40rem;
        height: auto;

    }


}
