@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Noto Sans, 'sans-serif';
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

html {
    font-size: .83vw;
}


.primaryRef:hover {
    color: #0468FF;
}

.primaryRef:visited {
    color: #202B33;
}

.primaryRef:visited:hover {
    color: #0468FF;
}

body {
    overflow-x: hidden;
}

.primary{
    background: #FFF;
    box-shadow: 0 0 1.67rem 0 rgba(0, 0, 0, .15);
    height: 6.25em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 100;
    position: fixed;
    top: 0;
    width: 100%;
}

.logo {
    width: 17.5rem;
    height: 3.22694rem;
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    margin-left: 1.9rem;
    cursor: pointer;

}




.logoImg {
    height: 3.22694rem;
    width: 6rem;
}

.logoContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.logoText {
    width: 13.92813rem;
    height: 1.44569rem;
}

.logoDescription {
    margin-top: .36rem;
    width: 13.92775rem;
    height: 0.48781rem;
    display: flex;
    justify-content: start;
    margin-left: -.3rem;
    align-items: start;
}

.primaryFirstBlock {
    display: flex;
    align-items: center;
}

.primaryMenu {
    width: 41.8125rem;
    height: 1.5625rem;
    display: flex;
    justify-content: space-between;
    font-size: 1rem;
    margin-left: 3.75rem;
}

.primaryRef {
    color: #202B33;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-decoration: none;
    transition: .2s;
}

.primaryRef:visited {
    color: #202B33;
}

.primarySecondBlock {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 1.8rem;
}

.primaryNumber {
    color: #202B33;
    font-size: 2rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-right: 2.5rem;
}

.secondary {
    background: #202B33;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 3.5rem;

}

.secondaryBlock {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

.secondaryItem {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 15rem;
}

.secondaryText {
    color: #FFF;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.button {
    display: inline-flex;
    padding: 1.125rem 2rem;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
    border-radius: 0.3125rem;
    background: #0468FF;
    border: none;
    color: #FFF;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.button:hover {
    background: #0687FF;
}

.button:active {
    background: #09A7FF;
}

.smallArrowsWhite {
    width: 4.5625rem;
    height: 1rem;
    margin-top: 5.8rem;
    margin-bottom: .8em;
}

.mainScreen {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 120.5rem;
    height: 41.4375rem;
    background: #202B33;
    position: relative;
    overflow: hidden;
    margin-top: 6rem;
}



.mainScreenBody {
    padding-left: 23.5rem;
    height: 100%;
    z-index: 2;
}

.mainScreenTitle {
    color: #FFF;
    font-size: 3.375rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    width: 30.1875rem;
    margin-bottom: 1.25rem;
}

.mainScreenDescription {
    color: #FFF;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 30.1875rem;
    margin-bottom: 3.75rem;
}

.mainScreenButton {
    border: none;
    color: #FFF;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    display: inline-flex;
    padding: 1.125rem 2rem;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
    border-radius: 0.3125rem;
    background: #0468FF;
}

.mainScreenImg {
    width: 104.25rem;
    height: 104.25rem;
    border-radius: 50%;
    border: 1rem solid #0468FF;
    position: absolute;
    top: -75%;
    right: -34%;
    overflow: hidden;
}

.planeImg {
    position: absolute;
    top: 30rem;
    overflow: hidden;
    width: 66rem;
}


.smallArrows {
    width: 4.5625rem;
    height: 0.875rem;
    margin-top: 3rem;
    margin-bottom: 1.25em;
}


.bigArrows {
    position: absolute;
    display: flex;
    top: -6rem;
    left: 0;
}

.bigArrow {
    width: 9.22769rem;
    height: 9.9375rem;
    flex-shrink: 0;
    z-index: 1;
}

.bigArrowsVertical {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 10rem;
    right: 6.8rem;
    z-index: 2;
}

.bigArrowVertical {
    width: 10rem;
    height: 10rem;
    flex-shrink: 0;
    z-index: -1;
    margin-bottom: 0;

}

.calculator {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 120rem;
    min-height: 48rem;
    margin-top: 6rem;
    position: relative;
}



.calculatorTitle {
    color: #202B33;
    font-size: 3.375rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 3.75rem;
    z-index: 2;
}

.calculatorBodyContainer {
    display: flex;
    flex-direction: row;
}

.calculatorFirstContainer {
    box-sizing: content-box;
    padding-right: 2.3rem;
    border-right: 0.1rem solid #9A999A;
    width: 46rem;
    height: 29.5rem;
    margin-left: 6rem;
}


.calculatorBlockTitle {
    color: #202B33;
    font-size: 2rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 1.5rem;
}

.calculatorBlock {
    margin-bottom: 2.8rem;
}

.calculatorInputs {
    display: flex;
    align-items: center;
    gap: .94rem;
}

.calculatorFirstInput {
    border-radius: 0.4375rem;
    border: 1px solid #9A999A;
    background: #FDFCFD;
    padding: 1rem;
    width: 20.4rem;
    height: 3.75rem;
    flex-shrink: 0;
    color: #4C555B;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.0225rem;
}



.changeButton {
    width: 5rem;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    /*margin: -.3rem .9rem 0 .9rem;*/
    border: none;
}

.changeButtonSvg {
    width: 3.75rem;
    height: 3.75rem;
}

.calculatorInput {
    border-radius: 0.4375rem;
    border: 1px solid #9A999A;
    background: #FDFCFD;
    padding: 1rem;
    width: 22.3rem;
    height: 3.75rem;
    flex-shrink: 0;
    color: #4C555B;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.0225rem;
    margin-right: 0.9em;
}

.calculatorInput:last-child {
    margin-right: 0;
}

.calcButton {
    display: flex;
    width: 23.625rem;
    padding: 1.125rem 2rem;
    justify-content: center;
    align-items: center;
    /*gap: 0.625rem;*/
    border-radius: 0.3125rem;
    background: #0468FF;
    color: #FFF;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    border: 0;
}

.calculatorContainer {
    margin-left: 2.25rem;
}

.calculatorContainerDescription {
    color: #4C555B;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.0225rem;
    width: 22rem;
}

.sendNumberButton {
    margin-top: 2.2rem;
    border: none;
    display: flex;
    width: 20.5rem;
    padding: 1.125rem 2rem;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
    border-radius: 0.3125rem;
    background: #0468FF;
    color: #FFF;
    font-family: Noto Sans;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.result {
    height: 7rem;
    width: 55.5%;
}

#result {
    display: none;
}

.costLabel {
    color: #202B33;
    font-family: Noto Sans;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.result {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 2rem;
}

.cost {
    color: #202B33;
    font-family: Noto Sans;
    font-size: 2rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}



.numbers {
    height: 22.75rem;
    background: #F7F9FC;
    display: flex;
    justify-content: space-around;
    align-items: center;
}



.numbersContainer {
    width: 77%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.number {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.numberTitle {
    color: #202B33;
    font-size: 5.625rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.numberDescription {
    color: #4C555B;
    text-align: center;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 15.4375rem;
}

.advantages {
    width: 120rem;
    height: 39.4375rem;
    flex-shrink: 0;
    background: #F7F9FC;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.advantageRow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 75rem;
    margin-bottom: 7rem;
}

.advantageRow:first-child {
    margin-top: 5rem;
}

.advantageContainer {
    display: flex;
    flex-direction: row;

}

.advantageImage {
    width: 11.125rem;
    height: 11.125rem;
    margin-right: 2.2rem;
}

.advantageBody {
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.advantageTitle {
    color: #202B33;
    font-size: 2rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 1.25rem;
}

.advantageDescription {
    color: #4C555B;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 22.25rem;
}

.stages {
    display: flex;
    flex-direction: column;
    width: 120rem;
    height: 32.8125rem;
    flex-shrink: 0;
    background: #F7F9FC;
    align-items: center;
}


.stagesTitle {
    color: #202B33;
    text-align: center;
    font-size: 3.375rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 5rem 0;
}

.stagesImages {
    /*background: #202B33;*/
    width: 75rem;
    height: 6.25rem;
    margin-bottom: 2.2rem;
    display: flex;
    align-items: center;
    gap: 2rem;
}

.stagesImagesLine {
    margin-top: 2rem;
}

.stagesTitles {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 79rem;
    margin-left: -2rem;
}

.stageTitle {
    text-align: center;
    color: #202B33;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 9.375rem;
}

.stageImagesMobile {
    display: none;
}


.partners {
    width: 120rem;
    height: 26.5rem;
    flex-shrink: 0;
    background: #FAFBFD;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;

}

.partnersTitle {
    color: #202B33;
    font-size: 3.375rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 5rem;
    margin-bottom: 3.9rem;
}

.partnersLine {
    display: flex;
    flex-direction: row;
    width: auto;
    justify-content: space-around;
    gap: 3rem;
    height: 10rem;
    margin-left: 143rem;
    /*margin-left: -118rem;*/
    /*animation-name: runLine;*/
    /*animation-iteration-count: infinite;*/
    /*animation-duration: 2s;*/
    animation: runLine 20s linear infinite;
    /*transform: translateX(-50.8%);*/
    /*transform: translateX(0);*/

}

@keyframes runLine {
    0% {
        margin-left: 143rem;
    }
    100% {
        /*transform: translateX(-112.1rem);*/
        /*transform: translateX(-50.8%);*/
        margin-left: -118rem;

    }
}

.partner {
    width: 15.625rem;
    height: 7.96569rem;
    flex-shrink: 0;
    border-radius: 0.3125rem;
    background: #FFF;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.15);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
}


.uvexImg {
    height: 40%;
}

.recommendations {
    width: 120rem;
    height: 55.1875rem;
    flex-shrink: 0;
    background: #FAFBFD;
}

.recommendationsTitleContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

}

.recommendationsTitle {
    color: #202B33;
    font-size: 3.375rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 5rem;
    margin-bottom: 3.75rem;
}

.recommendationsPapersContainer {
    width: 100%;
    display: flex;
    justify-content: center;
}

.recommendationsPaper {
    width: 23.5rem;
    height: 32.5rem;
    border-radius: 0.3125rem;
    margin: 0 .65rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.recommendationImg {
    width: 110%;
    border-radius: 0.3125rem;

}

.recommendationsNames {
    margin-left: 24rem;
    display: flex;
    justify-content: space-around;
    width: 60%;
}

.recommendationsName {
    color: #2D2D2D;
    text-align: center;
    font-size: 2rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.04rem;
}

.discount {
    background: #F2F5FA;
    height: 29rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    position: relative;
}

.discountBackground {
    position: absolute;
    display: flex;
    justify-content: space-around;
    width: 120%;
    overflow: hidden;
    top: -3rem;
}

.discountBackgroundElement {
    width: 2.83331rem;
    height: 38.02181rem;
    transform: rotate(28.831deg);
    flex-shrink: 0;
    background: #ECF1F8;
    z-index: 1;
}

.largeGift {
    position: absolute;
    bottom: 0;
    left: 23rem;
    z-index: 1;
    width: 11.1875rem;
    height: 10.25rem;
}

.mediumGift {
    position: absolute;
    bottom: 0;
    left: 35.5rem;
    width: 6.5625rem;
    height: 5.375rem;
    z-index: 1;
}

.smallGift {
    position: absolute;
    bottom: 0;
    left: 16.1rem;
    z-index: 1;
    width: 5.4375rem;
    height: 4.375rem;
    flex-shrink: 0;
}

.discountTitle {
    color: #202B33;
    text-align: center;
    font-size: 3.375rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    width: 53.3125rem;
    margin-top: 5rem;
    margin-bottom: 3.3rem;
    z-index: 2;
}

.discountButton {
    display: inline-flex;
    padding: 1.125rem 2rem;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
    border-radius: 0.3125rem;
    background: #0468FF;
    border: none;
    color: #FFF;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 3.3rem;
    z-index: 2;

}

.discountNote {
    color: #4C555B;
    text-align: center;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    z-index: 2;

}

.questions {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 45.25rem;
    background: #FAFBFD;
}

.questionsTitle {
    margin-top: 5rem;
    color: #202B33;
    font-size: 3.375rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.questionsBody {
    margin-top: 5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 5rem;
}

.questionFirstBlock {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 19rem;
    padding-right: 8rem;
    border-right: .01rem solid #B2B1B3;
}

.questionFirstBlockTitle {
    color: #202B33;
    font-size: 2rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.questionFirstBlockNumber {
    color: #202B33;
    text-align: center;
    font-size: 3rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.questionFirstBlockNote {
    color: #4C555B;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.questionSecondBlock {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 19rem;
    padding-left: 8rem;
}

.questionSecondBlockTitle {
    color: #202B33;
    font-size: 2rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 2rem;
}

.questionSecondBlockInput {
    width: 30.4375rem;
    height: 5.75rem;
    border-radius: 0.4375rem;
    border: 0.01rem solid #9A999A;
    background: #F4F3F4;
    margin-bottom: 1.5rem;
    padding: 0.8rem 1.5rem;
    color: #202B33;
    font-size: 3rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.questionSecondBlockButton {
    display: flex;
    border: none;
    width: 30.4375rem;
    height: 5.6875rem;
    padding: 1.125rem 2rem;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
    flex-shrink: 0;
    border-radius: 0.3125rem;
    background: #0468FF;
    color: #FFF;
    font-size: 2rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 1.5rem;

}

.questionSecondBlockNote {
    color: #4C555B;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.office {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 54.625rem;
}

.officeTitle {
    color: #202B33;
    font-size: 3.375rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 5rem;
    margin-bottom: 3.75rem;
}

.officeAddress {
    color: #202B33;
    font-size: 2rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 2.2rem;

}

.officeMap {
    width: 73.125rem;
    height: 31.3125rem;
    background: #202B33;
}



.footer {
    height: 29rem;
    background: #232834;
    color: #FBFDFE;
    padding-top: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footerBody {
    width: 73%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.footerColumn {
    height: 15.625rem;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-around;
}

.footerLogo {
    width: 17.5rem;
    height: 3.22694rem;
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
}

.footerPoint {
    color: #FBFDFE;
    font-family: Noto Sans;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.footerNote {
    margin-top: 5rem;
    color: #C5C8CB;
    text-align: center;
    font-family: Noto Sans;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.mobileHeader {
    display: none;
}


@media (max-device-width: 480px), (max-width: 480px) {

    body {
        overflow-x: hidden;
    }


    .mobileHeader {
        display: flex;
        height: 15.625rem;
        align-items: center;
        padding-left: 4rem;
        justify-content: space-between;
        position: fixed;
        top: 0;
        z-index: 1001;
        background: #FFFFFF;
        width: 122rem;
        box-shadow: 0 0 2rem 0 rgba(0, 0, 0, 0.15);

    }

    .mobileHeaderLogo {
        display: flex;
        flex-direction: row;
        justify-content: start;
        width: 50rem;
    }

    .mobileHeaderLogoIcon {
        height: 8rem;
        width: 8rem;

    }

    .mobileHeaderLogoLabels {
        display: flex;
        flex-direction: column;
    }

    .mobileHeaderLogoName {
        height: 5rem;
        width: 30rem;

    }

    .mobileHeaderLogoLabel {
        height: 3rem;
        width: 30rem;
    }

    .mobileHeaderButton {
        display: inline-flex;
        padding: 3.125rem 5rem;
        justify-content: center;
        align-items: center;
        border-radius: 1rem;
        background: #0468FF;
        color: #FFF;
        font-family: Noto Sans;
        font-size: 2.81rem;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        border: none;
    }
    .mobileHeaderBurgerIcon {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 13rem;
        height: 13rem;
        padding-left: 3rem;
        cursor: pointer;
        z-index: 25;
        margin-right: 4rem;
    }

    .mobileHeaderBurgerSvg {
        width: 13rem;
        height: 13rem;
    }


    .navMenu {
        position: absolute;
        top: 0;
        z-index: 10;
        width: 110vw;
        height: 100vh;
        transition: .2s;
        background: #FFFFFF;
        transform: translateX(110vw);
        padding-top: 5rem;
    }



    .navMenuItem {
        color: #202B33;
        font-family: Noto Sans;
        font-size: 5rem;
        padding-left: 5rem;
        padding-top: 3.5rem;
        padding-bottom: 3.5rem;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        cursor: pointer;
        transition: .2s;
    }

    .navMenuItem:hover {
        background: #EFEFEF;
    }

    .navMenuItem:active {
        background: #EFEFEF;
    }


    .navMenuItem:first-child {
        margin-top: 10rem;
    }

    .navMenuLabel {
        color: #202B33;
        text-decoration: none;
    }

    .navMenuLabel:visited {
        color: #202B33;
        text-decoration: none;
    }

    .secondary {
        display: none;
    }

    .primary {
        display: none;
    }

    .mainScreen {
        height: auto;
        margin-top: 16rem;
    }

    .mainScreenBody {
        padding-left: 5rem;
    }

    .mainScreenTitle {
        font-size: 5.3rem;
    }

    .mainScreenDescription {
        font-size: 2.81rem;
        width: 50rem;
    }

    .mainScreenImg {
        width: 104.25rem;
        height: 104.25rem;
        border-radius: 50%;
        border: 1rem solid #0468FF;
        position: absolute;
        top: -25%;
        right: -40%;
        overflow: hidden;
    }


    .planeImg {
        position: absolute;
        top: 14rem;
        overflow: hidden;
        width: 110rem;
        right: 10rem;
    }

    .mainScreenButton {
        width: 30rem;
        height: 7rem;
        font-size: 2.81rem;
        margin-bottom: 7rem;
        margin-top: 2rem;
        border-radius: .775rem;
    }


    .smallArrows {
        margin-top: 1rem;
        width: 11.25rem;
        height: 4.19rem;
        margin-left: 2.5rem;
    }

    .smallArrowsWhite {
        margin-top: 1rem;
        width: 11.25rem;
        height: 4.19rem;
    }

    .calculator {
        height: auto;
        position: relative;
    }

    .bigArrows {
        top: -6rem;
    }

    .calculatorTitle {
        font-size: 5.3rem;
    }

    .calculatorFirstContainer {
        border: none;
        height: auto;
        width: 110rem;
        margin-left: 0;
        padding: 0;
        z-index: 2;
    }

    .calculatorBlock {
        margin-bottom: 3rem;
    }

    .calculatorBlockTitle {
        font-size: 3.3rem;
    }

    .calculatorFirstInput {
        width: 50rem;
        height: 8rem;
        font-size: 2.81rem;
        border: 1px solid #9A999A;
    }

    .changeButton {
        height: 8rem;
        width: 8rem;
    }

    .changeButtonSvg {
        height: 7.9rem;
        width: 7.9rem;
    }

    .calculatorInput {
        width: 53.2rem;
        height: 8rem;
        font-size: 2.81rem;
        border: 1px solid #9A999A;
    }

    .calcButton {
        width: 53.2rem;
        height: 8rem;
        font-size: 2.81rem;
        border-radius: .775rem;
    }

    .calculatorContainer {
        display: none;
    }

    .numbers {
        height: 37.5rem;
    }



    .numbersContainer {
        width: 115rem;
        justify-content: space-between;

    }

    .numberTitle {
        font-size: 11rem;
    }

    .numberDescription {
        font-size: 2.81rem;
        width: 31rem;
    }

    .advantages {
        height: auto;
    }

    .advantageRow {
        width: 115rem;
    }

    .advantageImage {
        height: 20rem;
        width: 20rem;
    }

    .advantageContainer {
        flex-direction: column;
        align-items: center;
    }

    .advantageTitle {
        font-size: 3.8rem;
        width: auto;
        text-align: center;
    }

    .advantageDescription {
        font-size: 2.81rem;
        text-align: center;
        width: 50rem;
    }

    .stages {
        height: auto;
    }
    .stagesTitle {
        font-size: 5.3rem;
    }

    .stagesImages {
        border: 1px solid red;
        display: none;
        height: auto;

    }

    .stagesTitles {
        display: none;
    }

    .stageImagesMobile {
        display: block;
    }

    .stageImagesMobileRow {
        display: flex;
        gap: 15rem;
    }

    .stageSvg {
        width: 20rem;
        height: 20rem;
    }

    .stageImagesMobileItem {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .stageTitle {
        margin-top: 2rem;
        font-size: 2.81rem;
        width: 25rem;
    }


    .partners {
        height: auto;
    }

    .partnersTitle {
        font-size: 5.3rem;
    }

    .partnersLine {
        height: 23rem;
        margin-left: 342rem;
        overflow-y: hidden;
        animation: runLineMobile 20s linear infinite;


    }

    @keyframes runLineMobile {
        0% {
            margin-left: 342rem;
        }
        100% {

            margin-left: -120rem;

        }
    }

    .partner {
        width: 30rem;
        height: 15rem;
        border-radius: 0.3125rem;
        padding: 2rem;
    }



    .recommendations {
        height: auto;
    }

    .recommendationsTitle {
        font-size: 5.3rem;
        margin-top: 4rem;
        margin-bottom: 7rem;
    }

    .recommendationsPapersContainer {
        justify-content: center;
        gap: 0;
    }

    .recommendationsPaper {
        width: 38.525rem;
        height: auto;
        border-radius: 0.3125rem;
        margin: 0;
    }

    .recommendationImg {
        width: 40.525rem;
        height: auto;
        border-radius: 0.3125rem;
        margin: 0;
    }

    .recommendationsNames {
        width: 112rem;
        margin-left: 4rem;
    }

    .recommendationsName {
        font-size: 2.81rem;
        padding-bottom: 5rem;
    }


    .discount {
        height: auto;

    }

    .discountTitle {
        font-size: 4.5rem;
        width: 70rem;
        margin-bottom: 3.3rem;
    }

    .discountButton {
        padding: 2rem 3.75rem;
        font-size: 2rem;
        border-radius: .45rem;
        margin-bottom: 4.2rem;
    }

    .discountNote {
        font-size: 1.5rem;
        margin-bottom: 4.2rem;
    }

    .smallGift {
        left: 0;
    }

    .largeGift {
        left: 7rem;
    }

    .mediumGift {
        left: 19rem;
    }

    .discountBackgroundElement {
        margin-top: -10rem;
        width: 7.25rem;
        height: 60rem;
        transform: rotate(28.831deg);
        flex-shrink: 0;
        background: #ECF1F8;
        z-index: 1;
    }

    .discountBackgroundElement:nth-child(-n+15) {
        display: none;
    }


    .office {
        height: auto;
    }

    .officeTitle {
        font-size: 5.3rem;
        margin-bottom: 7rem;
    }

    .officeAddress {
        text-align: start;
        width: 110rem;
        font-size: 2.81rem;
    }

    .officeMap {
        width: 110rem;
        height: 50rem;
        margin-bottom: 7rem;
    }

    .footer {
        height: 50rem;
        margin-bottom: 0;
    }

    .footerLogo {
        width: 40rem;
        height: 10rem;
    }

    .logoImg {
        width: auto;
        height: 7rem;
        margin-right: .5rem;
    }

    .logoText {
        width: 33rem;
        height: auto;
    }

    .logoDescription {
        margin-top: 1rem;
        width: 33rem;
        height: 1.9rem;

    }

    .footerBody {
        width: 110rem;
        height: 50rem;
        align-items: start;
        margin-top: 2rem;
    }

    .footerPoint {
        font-size: 2.8rem;
        font-weight: 400;
        line-height: 5rem;
    }

    .footerColumn {
        max-width: 40rem;
        height: auto;

    }


}
