@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Noto Sans, 'sans-serif';
}

html {
    font-size: .83vw;
}

.primary{
    background: #FFF;
    box-shadow: 0 0 1.67rem 0 rgba(0, 0, 0, .15);
    height: 6.25em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 100;
    position: fixed;
    top: 0;
    width: 100%;
}

.logo {
    width: 17.5rem;
    height: 3.22694rem;
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    margin-left: 1.9rem;
    cursor: pointer;

}




.logoImg {
    height: 3.22694rem;
    width: 6rem;
}

.logoContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.logoText {
    width: 13.92813rem;
    height: 1.44569rem;
}

.logoDescription {
    margin-top: .36rem;
    width: 13.92775rem;
    height: 0.48781rem;
    display: flex;
    justify-content: start;
    margin-left: -.3rem;
    align-items: start;
}

.primaryFirstBlock {
    display: flex;
    align-items: center;
}

.primaryMenu {
    width: 41.8125rem;
    height: 1.5625rem;
    display: flex;
    justify-content: space-between;
    font-size: 1rem;
    margin-left: 3.75rem;
}

.primaryRef {
    color: #202B33;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-decoration: none;
}

.primaryRef:visited {
    color: #202B33;
}

.primarySecondBlock {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 1.8rem;
}

.primaryNumber {
    color: #202B33;
    font-size: 2rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-right: 2.5rem;
}

.secondary {
    background: #202B33;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 3.5rem;

}

.secondaryBlock {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

.secondaryItem {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 15rem;
}

.secondaryText {
    color: #FFF;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.button {
    display: inline-flex;
    padding: 1.125rem 2rem;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
    border-radius: 0.3125rem;
    background: #0468FF;
    border: none;
    color: #FFF;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.button:hover {
    background: #0687FF;
}

.button:active {
    background: #09A7FF;
}


.bigArrows {
    position: absolute;
    display: flex;
    top: 6rem;
    left: 0;
}

.bigArrow {
    width: 9.22769rem;
    height: 9.9375rem;
    flex-shrink: 0;
    z-index: 1;
}

.bigArrowsVertical {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 18rem;
    right: 6.8rem;
    z-index: 2;
}

.bigArrowVertical {
    width: 10rem;
    height: 10rem;
    flex-shrink: 0;
    z-index: -1;
    margin-bottom: 0;

}

.smallArrows {
    width: 4.5625rem;
    height: 0.875rem;
    margin-top: 3rem;
    margin-bottom: 1.25em;
}
.contacts {
    margin-top: 6rem;
    width: 120rem;
    height: 67.5rem;
    background: #FAFBFD;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contactsName {
    color: #202B33;
    font-size: 3.375rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 5rem;
}

.contactsInfo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 67rem;
    align-items: end;
}

.contact {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 3.25rem;
}

.contact:last-child {
    margin-bottom: 0;
}

.contactImg {
    width: 1.75rem;
    height: 1.75rem;
    margin-right: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contactSvg {
    height: 1.75rem;
}

.contactText {
    color: #202B33;
    font-size: 2rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.contactsSecondBlock {
    width: 23.3125rem;
    height: 12.8125rem;
    flex-shrink: 0;
    background: #ECF1F8;
    border-radius: .625rem;
}

.contactsSecondBlockTitle {
    margin-top: 2.2rem;
    margin-bottom: 1.5rem;
    color: #202B33;
    text-align: center;
    font-size: 2rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.contactsSecondBlockDescription {
    color: #4C555B;
    text-align: center;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.contactsMap {
    margin-top: 3.75rem;
    width: 67rem;
    height: 31.3125rem;
}



.footer {
    height: 29rem;
    background: #232834;
    color: #FBFDFE;
    padding-top: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footerBody {
    width: 73%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.footerColumn {
    height: 15.625rem;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-around;
}

.footerLogo {
    width: 17.5rem;
    height: 3.22694rem;
    flex-shrink: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
}

.footerPoint {
    color: #FBFDFE;
    font-family: Noto Sans;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.footerNote {
    margin-top: 5rem;
    color: #C5C8CB;
    text-align: center;
    font-family: Noto Sans;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.mobileHeader {
    display: none;
}

@media (max-device-width: 480px), (max-width: 480px) {

    body {
        overflow-x: hidden;
    }


    .mobileHeader {
        display: flex;
        height: 15.625rem;
        align-items: center;
        padding-left: 4rem;
        justify-content: space-between;
        position: fixed;
        top: 0;
        z-index: 1001;
        background: #FFFFFF;
        width: 122rem;
        box-shadow: 0 0 2rem 0 rgba(0, 0, 0, 0.15);

    }

    .mobileHeaderLogo {
        display: flex;
        flex-direction: row;
        justify-content: start;
        width: 50rem;
    }

    .mobileHeaderLogoIcon {
        height: 8rem;
        width: 8rem;

    }

    .mobileHeaderLogoLabels {
        display: flex;
        flex-direction: column;
    }

    .mobileHeaderLogoName {
        height: 5rem;
        width: 30rem;

    }

    .mobileHeaderLogoLabel {
        height: 3rem;
        width: 30rem;
    }

    .mobileHeaderButton {
        display: inline-flex;
        padding: 3.125rem 5rem;
        justify-content: center;
        align-items: center;
        border-radius: 1rem;
        background: #0468FF;
        color: #FFF;
        font-family: Noto Sans;
        font-size: 2.81rem;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        border: none;
    }

    .mobileHeaderBurgerIcon {
        /*border: 1px solid #000;*/
        height: 15.625rem;
        width: 15.625rem;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 20;
    }

    .mobileHeaderBurgerIcon {
        margin-right: 6rem;
        width: 4.2rem;
        height: 3.4rem;
        cursor: pointer;
        z-index: 25;
    }

    .navMenu {
        position: absolute;
        top: 0;
        z-index: 10;
        width: 110vw;
        height: 100vh;
        transition: .2s;
        background: #FFFFFF;
        transform: translateX(110vw);
        padding-top: 5rem;
    }



    .navMenuItem {
        color: #202B33;
        font-family: Noto Sans;
        font-size: 5rem;
        padding-left: 5rem;
        padding-top: 3.5rem;
        padding-bottom: 3.5rem;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        cursor: pointer;
        transition: .2s;
    }

    .navMenuItem:hover {
        background: #EFEFEF;
    }

    .navMenuItem:active {
        background: #EFEFEF;
    }


    .navMenuItem:first-child {
        margin-top: 10rem;
    }

    .navMenuLabel {
        color: #202B33;
        text-decoration: none;
    }

    .navMenuLabel:visited {
        color: #202B33;
        text-decoration: none;
    }

    .secondary {
        display: none;
    }

    .primary {
        display: none;
    }

    .bigArrows {
        top: 16rem;
    }

    .smallArrows {
        margin-top: 1rem;
        width: 11.25rem;
        height: 3.19rem;
    }

    .bigArrowsVertical {
        right: 0;
        top: 16rem;
        gap: 0;
        align-items: start;
    }

    .bigArrowVertical {
        height: 10rem;
        margin-bottom: -1rem;
    }

    .contacts {
        height: auto;
        margin-top: 16rem;
    }

    .contactsName {
        font-size: 5.3rem;
    }

    .contactsInfo {
        width: 110rem;
        z-index: 2;
    }

    .contactImg {
        width: 4.5rem;
        height: 4.5rem;
    }

    .contactSvg {
        height: 4.375rem;
        width: 4.375rem;
    }

    .contactText {
        font-size: 2.81rem;
    }

    .contactsSecondBlock {
        height: 23rem;
        width: 32rem;
        border-radius: .775rem;
    }

    .contactsSecondBlockTitle {
        font-size: 3rem;
    }

    .contactsSecondBlockDescription {
        font-size: 2.8rem;
        width: 25rem;
        margin-left: 3rem;
        margin-top: 2rem;
    }

    .contactsMap {
        width: 110rem;
        height: 47rem;
        margin-bottom: 7rem;
    }


    .footer {
        height: 50rem;
        margin-bottom: 0;
    }

    .footerLogo {
        width: 40rem;
        height: 10rem;
    }

    .logoImg {
        width: auto;
        height: 7rem;
        margin-right: .5rem;
    }

    .logoText {
        width: 33rem;
        height: auto;
    }

    .logoDescription {
        margin-top: 1rem;
        width: 33rem;
        height: 1.9rem;

    }

    .footerBody {
        width: 110rem;
        height: 50rem;
        align-items: start;
        margin-top: 2rem;
    }

    .footerPoint {
        font-size: 2.8rem;
        font-weight: 400;
        line-height: 5rem;
    }

    .footerColumn {
        max-width: 40rem;
        height: auto;

    }

}
