@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Noto Sans, 'sans-serif';
}

html {
    font-size: .83vw;
}

.primary {
    background: #FFF;
    box-shadow: 0 0 1.67rem 0 rgba(0, 0, 0, .15);
    height: 6.25em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 100;

}

.logo {
    width: 17.5rem;
    height: 3.22694rem;
    flex-shrink: 0;
    background: #202B33;
    margin-left: 1.9em;
}

.primaryFirstBlock {
    display: flex;
    align-items: center;
}

.primaryMenu {
    width: 41.8125rem;
    height: 1.5625rem;
    display: flex;
    justify-content: space-between;
    font-size: 1rem;
    margin-left: 3.75rem;
}

.primaryRef {
    color: #202B33;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.primarySecondBlock {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 1.8rem;
}

.primaryNumber {
    color: #202B33;
    font-size: 2rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-right: 2.5rem;
}

.secondary {
    background: #202B33;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 3.5rem;

}

.secondaryBlock {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

.secondaryItem {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 15rem;
}

.secondaryText {
    color: #FFF;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.button {
    display: inline-flex;
    padding: 1.125rem 2rem;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
    border-radius: 0.3125rem;
    background: #0468FF;
    border: none;
    color: #FFF;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.button:hover {
    background: #0687FF;
}

.button:active {
    background: #09A7FF;
}

.smallArrows {
    width: 4.5625rem;
    height: 0.875rem;
    background: #202B33;
    margin-top: 3rem;
    margin-bottom: 1.25em;
}

.contacts {
    width: 120rem;
    height: 67.5rem;
    background: #FAFBFD;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contactsName {
    color: #202B33;
    font-size: 3.375rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 5rem;
}

.contactsInfo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 67rem;
    align-items: end;
}

.contact {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 3.25rem;
}

.contact:last-child {
    margin-bottom: 0;
}

.contactImg {
    width: 1.75rem;
    height: 1.75rem;
    background: #202B33;
    margin-right: 2rem;
}

.contactText {
    color: #202B33;
    font-size: 2rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.contactsSecondBlock {
    width: 23.3125rem;
    height: 12.8125rem;
    flex-shrink: 0;
    border: 0.01rem solid #93AACB;
    background: #ECF1F8;
}

.contactsSecondBlockTitle {
    margin-top: 2.2rem;
    margin-bottom: 1.5rem;
    color: #202B33;
    text-align: center;
    font-size: 2rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.contactsSecondBlockDescription {
    color: #4C555B;
    text-align: center;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.contactsMap {
    margin-top: 3.75rem;
    width: 67rem;
    height: 31.3125rem;
    border: 0.01rem solid #9A999A;
}


.footer {
    height: 29rem;
    background: #232834;
    color: #FBFDFE;

    padding-top: 5rem;
}

.footerBody {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-left: 20rem;
    width: 70%;
}

.footerColumn {
    height: 15.625rem;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-around;
}

.footerLogo {
    height: 3.3rem;
    width: 17.5rem;
    background: #0468FF;
}

.footerPoint {
    color: #FBFDFE;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.footerNote {
    margin-top: 5rem;
    color: #C5C8CB;
    text-align: center;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
